@charset "UTF-8";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
html,body{
  height: 100%;
}
.le_container{
  min-width: 320px;
  max-width: 640px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 45px;
  padding-bottom: 55px;
}
.le_header{
  width: 100%;
  height: 45px;
  background-color: #069;
  position: absolute;
  top:0;
}
.le_header .left,
.le_header .right{
  position: absolute;
  width: 45px;
  height: 45px;
  top:0;
  text-align: center;
  line-height: 45px;
  color:#fff;
}
.le_header .left{
  left: 0;
}
.le_header .right{
  right:0;
}
.le_header h4{
  text-align: center;
  line-height: 45px;
  margin: 0;
  font-weight: 400;
  color:white;
}
.le_footer{
  width: 100%;
  position: absolute;
  bottom:0;
  height: 55px;
  background-color: #069;

}
.le_footer li{
  float: left;
  width: 25%;
  text-align: center;
  padding-top: 10px;
  color: #fff;
}
.le_footer li p{
  margin-bottom: 0;
  color:#fff;
  font-size: 12px;
}
.le_footer li.active p,
.le_footer li.active span
{
  color:darkorange;
}
.le_footer li span{
  color:#fff;
}
.le_main{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}



/*搜索页公告部分*/
.le_search{
  padding: 10px;
  position: relative;
}
.le_search .search-text{
  height: 34px;
  margin: 0;
  padding: 0;
  border: 1px solid #007aff;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 14px;
}
.btn-search{
  position: absolute;
  top:10px;
  right: 10px;
  height: 34px;
  border-radius: 0 5px 5px 0;
}
/*商品*/
.le_product{
  padding: 10px;
}
.le_product li{
  float: left;
  width: 48%;
  border:2px solid #ccc;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  background-color: #fff;
}
.le_product li:nth-child(odd){
  margin-right: 4%;
}
.le_product li img{
  width: 100%;
  display: block;
}
.le_product .red{
  color: red;
}
.le_product .through{
  text-decoration: line-through;
}