@charset "UTF-8";
.le_nav{
  padding:10px;
}
.le_nav li{
  float: left;
  width: 33.33%;
}
.le_nav li img{
  width: 100%;
  display: block;
}
.le_product{
  padding: 10px;
}
.le_product li{
  float: left;
  width: 48%;
  border:2px solid #ccc;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  background-color: #fff;
}
.le_product li:nth-child(odd){
  margin-right: 4%;
}
.le_product li img{
  width: 100%;
  display: block;
}
.le_product .red{
  color: red;
}
.le_product .through{
  text-decoration: line-through;
}