@charset "UTF-8";
.le-sort{
  background-color: #eee;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
.le-sort a{
  width: 25%;
  display: block;
  float: left;
  text-align: center;
  color:#666;
}
.le_product .product-p{
  height: 42px;
}
.le-sort a.now{
  color: darkorange;
}
.le_product{
  position: relative;
}
.le_product .loading{
  width: 40px;
  height: 40px;
  border: 1px solid blue;
  position: absolute;
  top:150px;
  left: 50%;
  margin-left: -20px;
  animation: play 1s infinite linear;
}
@keyframes play {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}