<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>乐淘商城-搜索中心</title>
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="lib/mui/css/mui.min.css">
  <link rel="stylesheet" href="lib/fa/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/search.css">
</head>
<body>
<div class="le_container">
  <div class="le_header">
    <a class="left" href="javascript:history.go(-1);">
      <span class="mui-icon mui-icon-arrowleft"></span>
    </a>
    <h4>搜索中心</h4>
    <a class="right" href="#">
      <span class=""></span>
    </a>
  </div>
  <div class="le_main">
    <div class="mui-scroll-wrapper">
      <div class="mui-scroll">
        <!--这里放置真实显示的DOM内容-->
       <div class="le_search">
         <input type="text" class="search-text" placeholder="请输入搜索关键字">
         <button class="mui-btn-blue mui-btn btn-search">搜索</button>
       </div>

        <div class="le-history">
         <!--动态渲染-->
        </div>

      </div>
  </div>
  </div>
  <div class="le_footer">
    <ul class="mui-clearfix">
      <li ><a href="index.html"><span class="fa fa-home"></span><p>首页</p></a></li>
      <li><a href="category.html"><span class="fa fa-bars"></span><p>分类</p></a></li>
      <li><a href="#"><span class="fa fa-shopping-cart"></span><p>购物车</p></a></li>
      <li><a href="#"><span class="fa fa-user"></span><p>会员中心</p></a></li>
    </ul>
  </div>
</div>

<script type="text/html" id="temp">
  {{if list.length==0}}
  <p>没有历史记录</p>
  {{/if}}
  {{if list.length>0}}
  <div class="his-title mui-clearfix">
    <span class="mui-pull-left">搜索历史</span>
    <span class="mui-pull-right fa fa-trash btn_empty">清空记录</span>
  </div>
  <div class="his-list">
    <ul>

      {{each list v i}}
      <li class="mui-clearfix">
        <a href="searchList.html?key={{v}}" class="mui-pull-left">{{v}}</a>
        <span class="mui-pull-right mui-icon mui-icon-closeempty span-del" data-index="{{i}}"></span>
      </li>
      {{/each}}

    </ul>
  </div>
  {{/if}}
</script>

</body>
</html>
<script src="lib/mui/js/mui.js"></script>
<script src="lib/zepto/zepto.min.js"></script>
<script src="lib/artTemplate/template-web.js"></script>
<script src="js/common.js"></script>
<script src="js/search.js"></script>